@model IEnumerable<BooKX.Models.Book>

@{
    ViewBag.Title = "Catalogo Disponible";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Estos son los libros que puedes comprar actualmente</h2>
@if (ViewBag.added)
{
    <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>@ViewBag.bookName</strong> agregado al carrito.
    </div>

}
else if (ViewBag.error)
{
    <div class="alert alert-danger">
        <strong>Libro no se ha podido</strong> agregar al carrito.
    </div>
}
<p>
    @Html.ActionLink("Agregar Libros", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>Añadir</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            <a href="@Url.Action("Add", "Books", new { id=item.Id })">
                <i class="icon-large icon-cart-in"></i>
            </a>
            @*
            @Html.ActionLink("Add To Cart","Add",new { id=item.Id})
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            *@
        </td>
    </tr>
}
</table>
